/* styles applied to all html */
body {
    height: 100%;
    background: url(../assets/images/concrete_seamless.png);
}
.navbar-expand-lg {
    background-color: #ffffff;
    height: 150px;
    border-bottom: gray;
    margin-bottom: 10px;
}
.navbar-brand {
    color: white;
    background-color: #4aaaa5;
    font-size: 50px;
    padding: 10px;
    float: left;
}
.nav-link {
    color: #777777;
    font-weight: bold;
    float: right;
}

/* index.html css styles */
#aboutMe {
    background-color: #ffffff;   
    padding-bottom: 20px;
}
#aboutMe h1 {
    color: #4aaaa5;
}
#aboutMe img {
    float: left;
    padding-right: 5px;
}
#aboutMe p {
    display: inline;
    line-height: 1.5px;
}